# Jessica Randall IBS 574 Python Homework 1

#### Add your name and the date your notebook was last updated

In [1]:
%load_ext watermark
%watermark -a "Wenjing Ma" -d

Wenjing Ma 2020-02-02

#### Load libraries

In [1]:
import watermark
import pandas as pd
import numpy as np
import sinfo

#### Load data
Hint: data are available here "https://raw.githubusercontent.com/jessmrandall/IBS574Fall2020/master/countdata.csv"

In [4]:
df = pd.read_csv("countdata.csv", sep='\t', header=0, index_col=0)

#### Test data were loaded correctly

In [11]:
df.head(n=10)

,T02,T04,T06,T08,T10,T12,T14,T01,T03,T05,T07,T09,T11,T13
id,,,,,,,,,,,,,,
Aaas,4341,4052,3762,3473,2894,3193,3706,2574,2760,2512,3014,3266,3517,3768
Aacs,11693,10913,10134,9354,7795,6784,8448,6011,4736,5480,6576,7124,7672,8220
Aadac,0,0,0,0,0,0,0,0,0,2,2,3,3,3
Aadacl2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aadacl3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aadat,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Aaed1,1173,1095,1017,938,782,773,1113,1547,1848,1477,1772,1920,2068,2216
Aagab,2618,2443,2269,2094,1745,1791,1734,1329,1272,1245,1494,1619,1743,1868
Aak1,4239,3956,3674,3391,2826,2884,2345,3508,4299,4060,4872,5278,5684,6090
Aamdc,165,154,143,132,110,117,155,160,176,140,168,182,196,210

#### Report Session Information

In [12]:
sinfo.sinfo()

-----
numpy       1.18.1
pandas      0.25.3
sinfo       0.3.1
watermark   2.0.2
-----
IPython             7.11.1
jupyter_client      5.3.4
jupyter_core        4.6.1
notebook            6.0.3
-----
Python 3.8.1 (default, Jan  8 2020, 16:15:59) [Clang 4.0.1 (tags/RELEASE_401/final)]
macOS-10.15.2-x86_64-i386-64bit
4 logical CPU cores, i386
-----
Session information updated at 2020-02-02 13:54